* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



img {
  width: 50px;
  border-radius: 30px;
}

.container {
  display: flex;
  background-color: white;
  flex: 1;

}

.search {
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 5px;
  width: 100%;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: grey;
  color: grey;
  margin-top: none;

}

.sidebar {
  padding: 30px;
  width: 20%;
  border-right: 2px solid rgb(117, 116, 116);
}

.contact {
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 80%;
  padding-left: 10px;
  padding-right: 80px;
  margin: 0;
}

.contact:hover {
  background-color: rgb(237, 228, 228);

}

.status,
.status-online {
  font-size: 12px;
  color: #646363;
}

.status::before {
  content: "•";
  color: red;
}

.status-online::before {
  content: "•";
  color: green;
}

.chat {
  flex: auto;
}

.chat-messages {
  height: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  display: flex;
  background-color: aquamarine;


}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.message-sent {
  width: auto;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 2px;
  margin-top: 4px;
  gap: 15px;
  padding: 7px;
  background-color: #dff0f6;
  border-radius: 10px;
  white-space: nowrap;

}

.chat-recived {
  width: auto;
  margin-bottom: 0px;
  margin-right: auto;
  gap: 15px;
  padding: 7px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #b7f6c3;
  border-radius: 10px;
  white-space: nowrap;
}

input {
  width: 100%;
  padding: 5%;

}

.chat-footer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: none;
}


.margin-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.time {
  font-size: 12px;
  color: #646363;
}

button {
  background: none;
  border: none;
  font-size: 15px;
  padding: 1px;
  cursor: pointer;
}